.todos {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todos-div {
    width: 400px;
    border: 2px solid;
    padding: 5px;
}

/* .todosInput {
    background-color: aquamarine;
} */
.todosInput input {
    width: 60%;
    height: 40px;
}
.todos-div ul {
    padding-left: 0px;
}
.todosInput button {
    height: 45px;
    margin-left: 2px;
}
.todo-Show::-webkit-scrollbar {
    overflow-y: hidden;
}
.todo-Show {
    height: 310px;
    overflow-y: scroll;
}
.todo-Show li {
    list-style-type: none;
    /* width: 100%; */
    height: 30px;
    border: 1px solid;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    
}
.todo-Show li span {
    font-size: 20px;
}